@import 'variables';

.alert__container{
  font-family: $font-family;
  font-weight: 700px;
  flex-direction: row;
  display: flex;
  @media screen and (max-width: 599px){
    flex-direction: column;
    place-content: flex-start;
    align-items: flex-start;
  }
  .alert__description {
    flex-direction: row;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1 1 100%;
    .icon_type {
      margin-right: 8px;
      align-self: flex-start;
    }
  }
  .alert__action-button {
    flex: 0 0 auto;
    @media screen and (max-width: 599px) {
      align-self: flex-end;
      margin-top: 8px;
    }
  }
  .icon_type {
    color: #00c5ff;
  }
  border-radius: 8px;
  padding: 24px;
  background-color: rgba(0,197,255, 0.16);
  color: #00a2e6;

  .mat-button, .mat-button:hover:not([disabled]) {
    color: #00c5ff;
  }
  .mat-button {
    background-color: transparent;
    box-shadow: none;
    border: 0px; 
    font-size: 14px;
    font-weight: 700; 
    border-radius: 300px;
    padding: 0px 16px;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
  }
  
}
